@charset "utf-8";

@media screen and (min-width: 1450px) {
  /*FHD*/

  /* ///// section2 ///// */
  h4 {
    font-size: 42px;
    text-align: center;
    font-weight: bold;
  }
  .second > p,
  .third > p {
    padding-top: 5px;
    text-align: center;
  }

  /* ///// section2 탭 컨텐츠 ///// */
  .container {
    width: 1300px;
    height: 590px;
    margin: 0 auto;
    margin-top: 60px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
  }

  .tabs li {
    display: inline-block;
    width: 200px;
    height: 60px;
    padding-top: 20px;
    margin-right: 5px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    color: #9542bf;
    background: url(../imgs/article-tap-bg.jpg) repeat-x center;
    border-radius: 10px 10px 0 0;
  }

  ul.tabs li.current {
    color: #2b2e4a;
    background: #fff;
  }

  .tab-content {
    display: none;
    clear: both;
    width: 1280px;
    height: 510px;
    padding: 60px 50px;
    background: #fff;
  }

  .tab-content.current {
    display: inherit;
  }

  .tab-content > img {
    float: left;
    width: 650px;
    height: 390px;
  }
  .tab-content .tab-des {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    float: right;
    width: 480px;
  }

  .tab-des h5 {
    padding-bottom: 20px;
    font-size: 36px;
    text-transform: capitalize;
    line-height: 40px;
  }
  .tab-des p {
    padding-bottom: 25px;
  }

  .tab-des > table {
    width: 350px;
    height: 240px;
    padding: 10px;
    border-left: 5px solid #efcce6;
  }
  .tab-des > table td {
    padding: 0 15px;
  }
  .tab-des > table td:nth-child(2) {
    width: 185px;
  }
}

@media screen and (min-width: 1050px) and (max-width: 1499px) {
  /*HD*/

  /* ///// section2 ///// */
  h4 {
    font-size: 42px;
    text-align: center;
    font-weight: bold;
  }
  .second > p,
  .third > p {
    padding-top: 5px;
    text-align: center;
  }

  /* ///// 탭 컨텐츠 ///// */
  .container {
    width: 940px;
    height: 590px;
    margin: 0 auto;
    margin-top: 60px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
  }

  .tabs li {
    display: inline-block;
    width: 200px;
    height: 60px;
    padding-top: 20px;
    margin-right: 5px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    color: #9542bf;
    background: url(../imgs/article-tap-bg.jpg) repeat-x center;
    border-radius: 5px 5px 0 0;
  }

  ul.tabs li.current {
    color: #2b2e4a;
    background: #fff;
  }

  .tab-content {
    display: none;
    clear: both;
    width: 100%;
    height: 510px;
    padding: 60px 30px;
    background: #fff;
  }

  .tab-content.current {
    display: inherit;
  }

  .tab-content > img {
    float: left;
    object-fit: cover;
    width: 480px;
    height: 390px;
  }
  .tab-content .tab-des {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    float: right;
    width: 340px;
  }

  .tab-des h5 {
    padding-bottom: 20px;
    font-size: 30px;
    text-transform: capitalize;
    line-height: 30px;
  }
  .tab-des p {
    padding-bottom: 25px;
    height: 120px;
  }

  .tab-des > table {
    width: 320px;
    height: 225px;
    padding: 10px;
    border-left: 5px solid #efcce6;
  }
  .tab-des > table td {
    padding: 0 15px;
  }
  .tab-des > table td:nth-child(2) {
    width: 185px;
  }
}

@media screen and (min-width: 660px) and (max-width: 1049px) {
  /*TB*/

  /* ///// section2 ///// */
  h4 {
    font-size: 42px;
    text-align: center;
    font-weight: bold;
  }
  .second > p,
  .third > p {
    padding-top: 5px;
    text-align: center;
  }

  /* ///// 탭 컨텐츠 ///// */
  .container {
    width: 80%;
    height: 915px;
    margin: 0 auto;
    margin-top: 60px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
  }

  .tabs li {
    display: inline-block;
    width: 25%;
    height: 60px;
    padding-top: 20px;
    margin-right: 5px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    color: #9542bf;
    background: url(../imgs/article-tap-bg.jpg) repeat-x center;
    border-radius: 5px 5px 0 0;
  }

  ul.tabs li.current {
    color: #2b2e4a;
    background: #fff;
  }

  .tab-content {
    display: none;
    clear: both;
    position: relative;
    width: 100%;
    height: 830px;
    padding: 70px 10px;
    background: #fff;
  }

  .tab-content.current {
    display: inherit;
  }

  .tab-content .tab-des {
    position: absolute;
    top: 60px;
    width: 97%;
    margin: 0 auto;
  }
  .tab-des h5 {
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
    line-height: 40px;
  }
  .tab-des p {
    padding: 30px 10px;
  }

  .tab-content > img {
    position: absolute;
    top: 230px;
    left: 30px;
    width: 90%;
    height: 390px;
    object-fit: cover;
  }

  .tab-des > table {
    position: absolute;
    top: 605px;
    left: 50%;
    padding: 0 10px;
    transform: translate(-50%);
    width: 500px;
    height: 110px;
  }

  .con-left {
    float: left;
  }
  .con-right {
    float: right;
  }
  .con-right:nth-child(4) {
    margin-right: 35px;
  }
  .tab-des > table > td > img {
    padding: 0 20px;
  }
  .tab-des > table td {
    padding: 10px 30px;
  }
}

@media screen and (max-width: 659px) {
  /*SM*/

  /* ///// 탭 컨텐츠 ///// */
  .container {
    width: 100%;
    height: 850px;
    margin: 0 auto;
    margin-top: 60px;
    padding: 15px;
    border-radius: 5px;
  }
  .tabs {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tabs li {
    display: inline-block;
    padding: 10px 15px;
    margin-left: 10px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    color: #9542bf;
  }

  ul.tabs li.current {
    color: #2b2e4a;
    border-bottom: 2px solid #2b2e4a;
  }

  .tab-content {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: none;
    clear: both;
  }
  .tab-content.current {
    display: inherit;
  }

  .tab-content .tab-des {
    position: absolute;
    top: 40px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
  }

  .tab-des h5 {
    text-align: center;
    font-size: 26px;
    text-transform: capitalize;
    line-height: 40px;
  }
  .tab-des p {
    padding: 30px 5px;
    font-size: 14px;
    width: 80%;
    margin: 0 auto;
  }

  .tab-content > img {
    position: absolute;
    top: 230px;
    width: 75%;
    height: 230px;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
  }

  .tab-des > table {
    position: absolute;
    top: 440px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
  }
  .tab-des > table td {
    padding: 8px 30px;
    font-size: 14px;
  }
  .tab-des > table td:nth-child(1) {
    text-align: center;
    width: 40%;
  }
  .tab-des > table td:nth-child(2) {
    width: 60%;
  }
  .programBtn {
    margin-bottom: 200px;
  }
}
