@charset "utf-8";

.container-mypage {
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 150px 0 150px 0;
}
.infoupdate-form h2 {
  font-family: "Noto Sans KR", sans-serif;
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: bold;
  color: #332b3b;
  text-align: center;
}
.infoupdate-form form {
  padding: 30px 30px 10px 30px;
  background: rgba(0, 0, 0, 0.01);
  border-radius: 10px;
}

.int-area {
  position: relative;
  width: 400px;
  margin-top: 15px;
}
.int-area:first-child {
  margin-top: 0;
}

.int-area label {
  display: inline-block;
  width: 100px;
  color: #999;
  transition: top 0.5s ease;
}
.int-area label.warning {
  color: red !important;
  animation: warning 0.3s ease;
  animation-iteration-count: 3;
}
@keyframes warning {
  0% {
    transform: translateX(-8px);
  }
  25% {
    transform: translateX(8px);
  }
  50% {
    transform: translateX(-8px);
  }
  75% {
    tarnsform: translateX(8px);
  }
}
.int-area input {
  width: 280px;
  padding: 20px 10px 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #999;
  font-size: 18px;
  outline: none;
}

.btn-area {
  margin-top: 30px;
}
.btn-area button {
  width: 100%;
  height: 50px;
  background: #f771d1;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.btn-area button:hover {
  background: #f771d1cc;
  transition: all 0.3s ease-in-out;
}
